* {
  background-color: #F5F5F5;
}
.indexHeader {
  font-size: 5vw;
  font-style:italic;
  text-align: center;
  padding-right: 6%;
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top:0px;
}
.indexSubHeader {
  font-size: 2.5vw;
  font-style: italic;
  text-align: center;
  color: lightgrey;
  padding-bottom: 5px;
  padding-top: 0px
  border 0px;
  margin:0px;
}
.topnav {
  background-color: black;
  overflow: hidden;
  border-radius: 25px;
}
.topnav a {
  float: left;
  color: lightgrey;
  padding: 16px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  background-color: black;
  overflow: hidden;
  border-bottom: 0px;
  margin-bottom: 0px;
}
.topnav a.hover {
  color: lightgrey;
  background-color: darkgrey;
}
.topnav a.active {
  text-decoration: underline;
  text-
}
.a {
  background-color: grey;
  height: 500px;
  width: auto;
  border-radius: 25px;
  background-blend-mode: darken;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;

}
.b {
  background-color: darkgrey;
  height: 500px;
  width: auto;
  border-radius: 25px;
  background-blend-mode: darken;
  overflow: hidden;
  margin-bottom: 20px;

}
h1 {
  text-align: center;
  background-color: inherit;
}
.box {
  width: 150px;
  height: 200px;
  background-color: black;
  margin-left: 40px;
}
.boxx {
  background-color: inherit;
  height: 200px;
  width: 1000px;
  float: right;
  border-bottom: 100px;
  overflow: hidden;


}
p {
  background-color: inherit;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
